@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

body {margin:0;}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li#b {
    display: inline;
    font-family:'Nanum Myeongjo';
}

li a {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 70px 50px;
    text-decoration: none;

}

    li a:hover {
        background-color: none;
    }

ul li:hover ul {
    display: block;
    transition:background-color 0.3s;

}

ul li ul {
    position: absolute;
    width: 150px;
    height:auto;
    display: none;
    background-color:#FAFAD2;
}

 ul li ul li {
        background: white;
        display: block;


}
ul li ul li a {
            color: sandybrown;
            display: block;
            padding:20px 0;

}

ul li ul li :hover {
            background-color:lightslategray;
            color: black;
            transition:background-color 3s; /* css3 애니메이션 */
}

.box {
  height: 105px;
    width: 260px;
    position: relative;
}
.box2 {
    height: auto;
    width: 400px;
    margin: 2px;
}
.text{
    text-align:center;
    font-size:larger;
    font-family:'Nanum Brush Script';
}
.zindex2{
    width: 99.5%;
    height: 500px;
    left:8px;
    top:160px;
    z-index: -1;
    position:absolute;
}
.back{
     background-image:url("image.PNG");
    background-size:100px 70px;
    background-repeat:no-repeat;
    background-position-x:center;

}
.text2{
   font-size:10pt;
   text-align:center;
   background-color:#303030;
   color:white;
   padding:15px 0;
}
.text3{
  font-size:larger;
  font-family: 'Hanna', serif;
}
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color:	#FFFAFA;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: auto;
    display: none;
}
